/* style sheet */

.odd {
  background-color: rgb(231, 93, 116);
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#big-blue {
  color: blue;
  font-size: 36px;
}

.odd.third {
  font-size: 24px;
}

#fourth {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
