/* style sheet */

.first {
  background-color: black;
  color: white;
}

.second {
  background-color: yellow;
}

.first,
.second {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}
